.main-elements_navbar {
  display: none;
}

.main-elements {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
}

.main-image {
  width: 1199px;
}

.main-image img {
  width: 1199px;
  height: 100%;
}

.right-panel_up {
  display: flex;
  background-color: #121212;
  align-items: center;
  justify-content: center;
  gap: 19px;
}

.right-panel_up a {
  font-weight: 900;
  font-size: 15px;
  color: #f2da85 !important;
  margin-top: 18px;
  margin-bottom: 12px;
  text-decoration: none;
}

.right-panel_up a:hover {
  color: #e9c234;
  cursor: pointer;
}

.right-panel_text h1 {
  color: white;
  text-align: center;
  font-size: 27px;
  font-weight: 900;
}

.right-panel_text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 50px;
}

.right-panel_text button {
  width: 310px;
  height: 100px;
  background-color: #f2da85;
  border-radius: 22px;
  font-size: 32px;
  font-weight: 500;
  margin-top: 66px;
  border: none;
}

.right-panel_text button > a {
  font-size: 32px;
  font-weight: 500;
  cursor: pointer;
  text-decoration: none;
  color: black;
}

.right-panel_text button:hover {
  /* cursor: pointer;
  background-color: #e9c234;
  color: white; */
}

.right-panel_menu {
  display: flex;
}

.right-panel_menu img.fade-in {
  -webkit-animation: fade-in 2.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in 2.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.right-panel_menu-photos {
  display: flex;
  gap: 22px;
  position: absolute;
  z-index: 10;
  flex-direction: row;
  right: 0;
  pointer-events: none;
  margin-top: 109px;
}
.right-panel_menu-photos img {
  width: 390px;
  height: 304px;
  border-radius: 26px;
}

.right-panel_menu img.fade-out {
  -webkit-animation: fade-out 2.2s cubic-bezier(0.39, 0.575, 0.565, 1) forwards;
  animation: fade-out 2.2s cubic-bezier(0.39, 0.575, 0.565, 1) forwards;
}
.right-panel_menu img.fade-out2 {
  -webkit-animation: fade-out 1.9s cubic-bezier(0.39, 0.575, 0.565, 1) forwards;
  animation: fade-out 1.9s cubic-bezier(0.39, 0.575, 0.565, 1) forwards;
}
.right-panel_menu img.fade-out3 {
  -webkit-animation: fade-out 1.8s cubic-bezier(0.39, 0.575, 0.565, 1) forwards;
  animation: fade-out 1.8s cubic-bezier(0.39, 0.575, 0.565, 1) forwards;
}

.right-panel_menu img.fade-in2 {
  -webkit-animation: fade-in 1.9s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in 1.9s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}
.right-panel_menu img.fade-in3 {
  -webkit-animation: fade-in 1.8s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in 1.8s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@media screen and (max-width: 767px) {
  .main-image img {
    width: 100%;
    height: 310px;
  }
  .main-image {
    width: auto;
  }
  .main-elements {
    flex-direction: column;
  }
  .right-panel_menu-photos {
    top: 20%;
    gap: 12px;
    right: auto;
  }
  .right-panel_menu-photos img {
    width: 125px;
    height: 105px;
    gap: 8px;
    right: none;
  }

  .right-panel_text button {
    width: 188px;
    height: 66px;
    margin-top: 25px;
    text-align: center;
    align-items: center;
  }
  .right-panel_text button > a {
    font-size: 23px;
    font-weight: 600;
    text-align: center;
  }

  .right-panel_text > h1 {
    font-size: 20px;
    margin-top: 15px;
  }

  .main-elements_navbar {
    display: flex;
    height: 79px;
    color: white;
    align-items: center;
    font-size: 9px;
  }

  .main-elements-mid {
    display: flex;
    gap: 15px;
    margin-left: 50px;
    margin-right: 40px;
  }

  .main-elements-left {
    margin-left: 0px;
  }

  .main-elements_navbar {
    justify-content: center;
  }
  .main-elements-left > img {
    width: 60px;
    height: 56px;
    border-radius: 11px;
  }

  .main-elements-right > button > img {
    width: 42px;
    height: 39px;
  }
  .main-elements-right > button {
    background: none;
    border: none;
  }

  .main-elements {
    min-height: auto;
  }

  .right-panel_text button {
    margin-bottom: 20px;
  }

  .main-elements-mid a {
    text-decoration: none;
  }

  .right-panel_menu-photos {
    /* right: unset; */
  }

  .right-panel_menu {
    align-items: center;
    justify-content: center;
  }

  .main-elements-mid a:active {
    color: white;
  }
}
