.popup {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  top: 0;
  left: 0;
  position: fixed;
  backdrop-filter: blur(2px);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  opacity: 0;
  pointer-events: none;
  transition: 0.5s;
}

.popup.active {
  opacity: 1;
  pointer-events: all;
}

.popup_window {
  background-color: white;
  border-radius: 12px;
  padding: 20px;
}

.popup_window-top > a {
  font-size: 20px;
  color: black;
  display: flex;
  text-align: center;
  justify-content: center;
  font-weight: 700;
}

.popup_window-top {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.popup_window > button {
  background: url(/src/assets/restarauntimg/close.svg);
  background-repeat: no-repeat;
  background-color: none;
  width: 5px;
  height: 10px;
  border: none;
  display: flex;
}

.popup_window button:hover {
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .popup_window-prices a {
    font-size: 10px;
  }
}

.popup_window-inputs {
  display: flex;
  flex-direction: column;
}

.popup_window-inputs-object {
  display: flex;
  flex-direction: column;
}

.popup_windowzakaz {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 500px;
}

.popup_windowzakaz button {
  background-color: #f2da85;
  padding: 10px;
  border-radius: 10px;
  border: none;
}

.popup_windowzakaz button:hover {
  background-color: #e9c234;
  cursor: pointer;
}

.order {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-bottom: 10px;
}

.sumPrice {
  font-weight: 800;
}

.valueWaiter {
  display: flex;
  flex-direction: column;
}

.valueWaiter input {
  text-align: center;
  margin-bottom: 10px;
  margin-top: 10px;
  border-radius: 5px;
  outline: none;
  border: none;
  background-color: rgb(192, 192, 192);
}

.popup_windowzakaz {
  overflow-x: hidden;
  overflow-y: scroll;
  max-height: 600px;
}

.order a {
  text-align: center;
  color: black;
}

@media screen and (max-width: 767px) {
  .popup_window {
    width: 300px;
  }
  .popup_windowzakaz {
    width: auto;
  }
}
