.popup {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  top: 0;
  left: 0;
  position: fixed;
  backdrop-filter: blur(2px);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  opacity: 0;
  pointer-events: none;
  transition: 0.5s;
}

.popup.active {
  opacity: 1;
  pointer-events: all;
}

.popupzale_window {
  background-color: white;
  border-radius: 12px;
  padding: 20px;
  z-index: 10;
}

.popupzale_window-top > a {
  font-size: 20px;
  color: black;
  display: flex;
  text-align: center;
  justify-content: center;
  font-weight: 700;
}

.popupzale_window-top {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.popupzale_window > button {
  background: url(/src/assets/restarauntimg/close.svg);
  background-repeat: no-repeat;
  background-color: none;
  width: 5px;
  height: 10px;
  border: none;
  display: flex;
}

.popupzale_window button:hover {
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .popupzale_window-prices a {
    font-size: 10px;
  }
}

.popupzale_window-inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 15px;
}

.popupzale_window-inputs-object {
  display: flex;
  flex-direction: column;
}
.popupzale_window-rent {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.popupzale_window-rent input {
  border-radius: 10px;
  background-color: #f2da85;
  text-align: center;
  border: none;
  height: 30px;
  width: 500px;
}

.popupzale_window-rent input:focus {
  outline: none;
  background-color: #e9c234;
}

.popupzale_window-rent a {
  font-weight: 700;
  margin-bottom: 5px;
}
.popupzale_window-rentbtn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}
.popupzale_window-rentbtn button {
  width: 200px;
  height: 40px;
  background-color: #f2da85;
  font-weight: 800;
  border-radius: 20px;
  border: none;
}

.popupzale_window-rentbtn button:hover {
  background-color: #e9c234;
  cursor: pointer;
}
