.popup {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  top: 0;
  left: 0;
  position: fixed;
  backdrop-filter: blur(2px);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  opacity: 0;
  pointer-events: none;
  transition: 0.5s;
}

.popup.active {
  opacity: 1;
  pointer-events: all;
}

.popupcontact_window {
  background-color: white;
  border-radius: 12px;
  padding: 20px;

  z-index: 10;
}

.popupcontact_window-top > a {
  font-size: 20px;
  color: black;
  display: flex;
  text-align: center;
  justify-content: center;
  font-weight: 700;
}

.popupcontact_window-top {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.popupcontact_window button {
  background: url(/src/assets/restarauntimg/close.svg);
  background-repeat: no-repeat;
  background-color: none;
  width: 5px;
  height: 10px;
  border: none;
  display: flex;
}

.popupcontact_window button:hover {
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .popupcontact_window-prices a {
    font-size: 10px;
  }
}

.popupcontact_window-inputs {
  display: flex;
  flex-direction: column;
}

.popupcontact_window-inputs-object {
  display: flex;
  flex-direction: column;
}

.popupcontact_window-inputs {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.popupcontact_window-inputs a > span {
  font-weight: 900;
}

@media screen and (max-width: 767px) {
  .popupcontact_window-inputs {
    color: black;
    font-size: 15px;
  }
}

.popupcontact_window-inputs a {
  color: black;
}
