.restarauntmenucold-list {
  display: flex;

  flex-direction: row;
  align-items: center;
  gap: 59px;
}

.restarauntmenucold {
  display: flex;
  flex-direction: column;
}

.restarauntmenu-list_objectcold {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.restarauntmenucold > div > h1 {
  font-size: 102px;
  color: #f2da85;
  font-weight: 800;
  margin-top: 195px;
  margin-bottom: 35px;
}

.restarauntmenu-top h1 {
  font-size: 102px;
  color: #f2da85;
  font-weight: 800;
  margin-top: 195px;
  margin-bottom: 35px;
}

.restarauntmenu-top_market {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 195px;
}

.restarauntmenu-top_market button {
  background: none;
  color: black;
  background-color: #f2da85;

  align-items: center;
  display: flex;
  justify-content: center;
  border-radius: 20px;
  padding-left: 15px;
  padding-right: 20px;
  font-weight: 900;
  outline: none;
  border: none;
  font-family: Nunito, system-ui, Avenir, Helvetica, Arial, sans-serif;
  /* width: 50px;
  height: 50px; */
}

.restarauntmenu-top_market button:hover {
  cursor: pointer;
  background-color: #e9c234;
}

.restarauntmenu-top_market button > img {
  width: 50px;
  height: 40px;
  /* margin-left: 10px; */
  margin-right: 5px;
  align-items: center;
  display: flex;
  justify-content: center;
}

.restarauntmenu-top {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.restarauntmenucold > div {
  margin-right: 50px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  /* align-items: center; */
  align-items: baseline;
}

.restarauntmenu-list_objectcold img {
  border-radius: 15px;
  width: 200px;
  height: 159px;
}

.restarauntmenu-list_objectcold a {
  margin-top: 16px;
  color: white;
  margin-bottom: 3px;
  font-size: 10px;
  font-weight: 500;
}

.restarauntmenu-list_objectcold p {
  margin-top: 1px;
  color: white;
  margin-bottom: 5px;
  font-size: 15px;
  font-weight: 500;
}

.menu-container_mobile {
  display: none;
}

.restarauntmenu-list_objectcold button {
  width: 200px;
  height: 45px;
  background-color: #f2da85;
  font-size: 16px;
  color: black;
  font-weight: 500;
  border-radius: 24px;
  border: none;
  margin-bottom: 100px;
}

.restarauntmenu-list_objectcold button:hover {
  cursor: pointer;
  background-color: #e9c234;
  color: white;
}

.restarauntmenu-list_objectweight {
  font-size: 9px !important;
  color: #f2da85 !important;
}

.restarauntmenucold > button {
  background-color: #f2da85;
  border-radius: 20px;
  width: 150px;
  height: 25px;
  align-self: flex-start;
  margin-left: 100px;
  border: none;
  font-weight: 700;
  margin-bottom: 30px;
}

.restarauntmenucold > button:hover {
  background-color: #e9c234;
  cursor: pointer;
}

.restarauntmenuoff {
  display: none;
}

.restarauntmenucold {
  -webkit-animation: fade-in 1s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in 1s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.mobilelist {
  display: none !important;
}

.menu-container_mobile {
  display: none !important;
}

@media screen and (max-width: 767px) {
  .menu-container_mobile {
    display: flex;
  }

  .menu-container {
    display: none !important;
  }

  .restarauntmenucold > div {
    flex-wrap: nowrap;
    margin-right: 0px;
    gap: 8px;
  }

  .restarauntmenu-list_objectcold img {
    width: 191px;
    height: 126px;
    border-radius: 29px;
  }
  .restarauntmenu-list_objectcold a {
    font-size: 10px;
    text-align: center;
  }

  .restarauntmenu-list_objectcold button {
    width: 155px;
    height: 25px;
    margin-bottom: 30px;
    font-size: 10px;
  }

  .restarauntmenucold > button {
    margin-left: 0px;
    align-self: center;
    text-align: center;
  }
  .menu-container_mobile {
    display: flex !important;
  }
}
